.NavigationBar {
    background-color: rgba(0,0,0,0.6);
    height: var(--nav-bar-height);
    min-height: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navigationItems {
  width: 95%;
  display: grid;
  grid-template-columns: var(--navigation-percent) 1.1fr 0.9fr 0.9fr;
}

.active {
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .NavigationBar {
    min-height: 50px;
  }
}

@media only screen and (max-width: 600px) {
    .NavigationBar {
        background-color: rgba(0,0,0,0.7);
        grid-template-columns: var(--navigation-percent) 0.9fr 0.75fr 1fr;
        min-height: 40px;
    }
}