.PortfolioCard {
  display: grid;
  grid-template-rows: 10% 7% 60% 8% 15%;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 65vh;
  min-height: 700px;
  width: 38vw;
  border: 2px solid rgba(0,0,0,0.7);
  border-radius: 3%;
  box-shadow: 0 5px 10px -2px gray;
}

.PortfolioCard h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(2px + 1.5vh);
  margin-bottom: 0;
  font-family: var(--default-text-font);
  font-size: var(--h1-content-font-size-small);
  color: var(--default-title-color);
}

.PortfolioCard h2 {
  display: block;
  margin-top: calc(2px + 1vh);
  margin-bottom: 0;
  font-family: var(--default-text-font);
  font-size: var(--h2-content-font-size-small);
  color: var(--default-title-color);
}

.PortfolioCard p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: calc(2px + 2.5vh);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--default-text-font);
  font-size: var(--text-content-font-size-small);
  color: rgba(0,0,0,0.7);
}

.repository {
  width: 50%;
  margin-top: calc(2px + 2vh);
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--default-text-font);
  font-size: var(--text-content-font-size-small);
  color: rgba(0,0,0,0.7);
}

.github {
  color: rgba(0,0,0,0.7);
}

.gitlab {
  color: rgba(0,0,0,0.7);
}

.social:hover {
  color: var(--default-title-color);
}

.imageHolder {
  margin-top: calc(2px + 1.5vh);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0,0.7);
  background-size: cover center;
  box-shadow: 0 5px 10px -2px gray;
}

@media only screen and (max-width: 3000px)  {
  .PortfolioCard {
    height: 65vh;
    min-height: 820px;
  }
}

@media only screen and (max-width: 2000px)  {
  .PortfolioCard {
    height: 65vh;
    min-height: 620px;
  }
}

@media only screen and (max-width: 1500px)  {
  .PortfolioCard {
    grid-template-rows: 10% 7% 58% 10% 15%;
    height: auto;
    min-height: 450px;
  }
}

@media only screen and (max-width: 1000px)  {
  .PortfolioCard {
    grid-template-rows: 10% 7% 57% 10% 16%;
    height: auto;
    min-height: 300px;
  }
}

@media only screen and (max-width: 600px)  {
  .PortfolioCard {
    grid-template-rows: 10% 7% 58% 10% 15%;
    margin-top: 3vh;
    width: 100%;
    height: auto;
    min-height: 300px;
  }
}