.Header {
  background-image: url("../Resources/header-desktop-2.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 100%;
  height: 60vh;
  min-height: 700px;
  font-size: calc(10px + 1vw);
  color: white;
  box-shadow: 0 5px 10px -2px gray;
}

.HeaderName{
  font-family: var(--default-header-font);
  position: relative;
  width: 50%;
  top: 40%;
  left: 30vw;
  color: white;
}

.HeaderRole{
  font-family: var(--default-header-font);
  position: relative;
  width: 50%;
  top: 40%;
  left: 30vw;
  color: var(--default-highlight-color);
}

.HeaderButton{
  background-color: var(--default-highlight-color);
  width: 11% !important;
  height: 70px !important;
  border-width: 1px;
  border-radius: 4vh;
  border-color: var(--default-highlight-color);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 30vw;
  font-family: var(--default-text-font);
  font-size: calc(7px + 1vw);
}

.HeaderButton:hover{
  background-color: var(--default-header-color);
}

.HeaderButton:focus{
  outline: none;
}

@media only screen and (max-width: 1500px) {
  .Header {
    background-image: url("../Resources/header-desktop-2.jpg");
    min-height: 350px;
  }

  .HeaderButton{
    width: 14% !important;
    height: 30px !important;
    font-size: calc(7px + 0.8vw);
  }
}

@media only screen and (max-width: 1000px) {
  .Header {
    background-image: url("../Resources/header-desktop-3.jpg");
    min-height: 300px;
    font-size: calc(10px + 2vw);
  }

  .HeaderButton{
    width: 17.5% !important;
    height: 30px !important;
  }
}

@media only screen and (max-width: 600px)  {
  .Header {
    background-image: url("../Resources/header-mobile.jpg");
    min-height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .HeaderName{
    position: relative;
    width: 50%;
    top: 40%;
    left: 0vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .HeaderRole{
    position: relative;
    width: 50%;
    top: 40%;
    left: 0vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .HeaderButton{
    position: relative;
    width: 33vw !important;
    height: 10% !important;
    top: 43%;
    left: 0vw;
    font-size: 3.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}