.NavigationItem {
  margin-left: 1.2vh;
  font-family: var(--default-header-font);
  font-style: normal; 
  font-variant: normal; 
  font-size: var(--fontsize-nav);
  text-decoration: none;
  color: white;
}

.NavigationActive {
  font-weight: bolder;
  color: var(--default-highlight-color);
}

li {
  list-style-type: none !important;
}
